@model SearchViewModel
@{
    ViewData["Title"] = "Wyszukiwarka";
}
<div>
    <p>Witamy w wyszukiwarce!</p>
</div>
<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <p>Proszę podać numer identyfikacji podatkowej pracownika (NIP):</p>
    <form method="Post">
        <label asp-for="Nip"></label>
        <input type="text" asp-for="Nip"></input>
        <input type="submit" value="Wyślij zapytanie" />
    </form>    
    <p>Wynik wyszukiwania:</p>
    @if(@Model != null)
    {
        <div>
        <label>Adres działalności</label>
        @Model.Root.Result.Subject.WorkingAddress
        <br />
        <label>Nazwa</label>
        @Model.Root.Result.Subject.Name
        <br />
        <label>KRS</label>
        @Model.Root.Result.Subject.Krs
        <br />
        <label>Adres zamieszkania</label>
        @Model.Root.Result.Subject.ResidenceAddress
        <br />
    </div>
    }
    <output typeof="text"></output>
</div>